<!-- BANNIERE JUMBOTRON -->
<%= render 'banner' %>


<!-- RESUME DU CONCEPT -->
<%= render 'concept' %>


<div class="text-center">
  <a href="<%= new_event_path %>" class="btn my-2 btn-outline-secondary">Créer un event</a>
</div>
<br>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">

      <% @events.each do |event| %>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <!--<img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">-->
            <img class="card-img-top" src="https://images.pexels.com/photos/2014775/pexels-photo-2014775.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"><%= event.title %></h5>
              <p class="card-text"><%= event.description %></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="<%= event_path(event.id) %>" class="btn btn-sm btn-outline-secondary">En savoir plus</a>
                  <!--<% if user_signed_in? && current_user.id == event.event_admin.id %>-->
                    <!--<a href="<%= edit_event_path(event.id) %>" class="btn btn-sm btn-outline-secondary">Modifier</a>-->
                  <!--<% end %>-->
                </div>
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <small  class="text">Début <%= event.start_date.strftime("le %d/%m/%Y à %k:%M") %></small>
                <small  class="text">Durée : <%= event.duration %> min.</small>
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <small  class="text"><%= event.price %>€</small>
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <small  class="text">🏠<%= event.location %></small>
                <a href="<%= user_path(event.event_admin.id) %>"><small  class="text-muted"><%= image_tag(event.event_admin.avatar_thumbnail)%><%= event.event_admin.first_name + ' ' + event.event_admin.last_name %></small></a>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      
      
    </div>
  </div>
</div>